[MASTER]
extension-pkg-whitelist=pydantic
[LOGGING]
logging-format-style=new
[SIMILARITIES]
min-similarity-lines=8
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
[MESSAGES CONTROL]
enable=all
disable=use-implicit-booleaness-not-comparison-to-zero,c-extension-no-member,trailing-whitespace,too-few-public-methods,import-outside-toplevel,duplicate-code,super-with-arguments,import-outside-toplevel,pointless-statement,import-error,logging-fstring-interpolation,protected-access,no-name-in-module,anomalous-backslash-in-string,cell-var-from-loop,too-many-function-args,no-member,expression-not-assigned
max-args=20
max-branches=70
max-locals=30
max-statements=80
max-module-lines=2000
max-nested-blocks=10
max-returns=10
max-attributes=20